<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttag.order.mapper.OrderDetailMapper">
    <update id="updateStock" parameterType="com.ttag.api.domain.po.OrderDetail">
        UPDATE tb_order_detail
        SET num = #{num}
        WHERE orderId = #{orderId}
    </update>
</mapper>
